1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

a. (*)
It is a mathematical operator used for multiplication and expression .

In [1]:
a = ('hello')
type(a)

str

b. 'hello' is string and also it is value.

In [2]:
c = -87.8
type(c)

float

c. -87.8 is float it is also calles value.

d.(-) It is a mathematical operator  used for substraction and expression.

e.(/) It is a mathematical operator  used for divide and expression .

f.(+)It is a mathematical operator used for Addition and expression .

In [3]:
h = 6
type(h)

int

h.6 is integer also it is value.

2. What is the difference between string and variable?

In [4]:
x=("ineuron")
type(x)

str

we will undestand difference between string and variable by an example
suppose we have x=("ienuron") in this x is a variable i.e in variable(x) we store information and  string ("ineuron") is a type of information we  will store in varaible and string is  usually words.

3. Describe three different data types.


1.integer = 
integer is  generally used for numbers like whole numbers then its is called integer

In [5]:
i = 45
type(i)

int

2.float = fload is used for numbers like decimal points then it is called fload or floating point.

In [6]:
f = 52.37
type(f)

float

3.string = string is used for alphabetical as well as numberical characters i.e alphanumeric characters like ineuron or math123

In [7]:
s = "ineuron"
type (s)

str

In [8]:
a = "ineuron"
a.isalpha()

True

In [9]:
b = "python123"
b.isalnum()

True

4. What is an expression made up of? What do all expressions do?

Expression is generally made of variables,constant,operators
Expressions are representations of value.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Expression is a like combination of values, mathematical operators
on the other hand statements is just like command  that just print which we write and doesn't return anything.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [10]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?

In [11]:
'spam'+ 'spamspam'

'spamspamspam'

In [12]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In python we use varibles name start with alphabets charaters not start with numbers hence eggs is valid variable name and 100 is not beacuse it begin with a number.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [13]:
int()

0

In [14]:
float()

0.0

In [15]:
str()

''

10. Why does this expression cause an error? How can you fix it?

In [16]:
'I have eaten '' + 99 + '' burritos'

'I have eaten  + 99 +  burritos'

In this  if we run this code we have an error because in this we have addition of string value then integer and again string value but in python we can not add string and intger because only strings can be concatenated to other strings with the + operator.

if we fix it we can convert integer in str  then we give output

In [17]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'